body {
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color:#130f40;
}
header {
    background-color:#F2E7DC;
    padding: 10px;
    margin: -20px;
}
h1 {
    font-size: 70px;
    text-align: center;
}
.dropdown {
    display:inline-flex;
    flex-direction:row;
    width: 100%;
}
.dropdown button {
    margin: 20px;
    margin-top: 70px;
    padding: 50px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #c7c7c5;

}