body {
    margin: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color:#130f40;
}
header {
    background-color:#99FF00;
    color: #1D00FF;
    padding: 10px;
    margin: -20px;
}
h1 {
    font-size: 70px;
    text-align: center;
}
.dropdown {
    display:inline-flex;
    flex-direction:row;
    width: 100%;
}
.dropdown button {
    margin: 20px;
    margin-top: 70px;
    padding: 50px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #c7c7c5;
}
/*information page*/
/*select headphones*/
.selectheadphone {
    background-color: #0D0F40;
    padding: 30px;
    color: #99FF00;
}
#headphone-search, #headphones{
    background-color: #cfd9c7;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    color: #130f40;
}
.text {
    color:#99FF00;
    font-size: 20px;
}
#playbar {
    float: right;
    padding: 20px;
}